@model ClientApp.Models.Contact

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="box">
    <div>
        <h4>Contact</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Surname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Surname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OtherNames)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OtherNames)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmailAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Code }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    @if (ViewBag.Count > 0)
    {
        <table class="table table-bordered">
            <tr>
                <th width="15%">
                    @Html.DisplayName("Code")
                </th>
                <th width="75">
                    @Html.DisplayName("Name")
                </th>


                <th width="10%"></th>
            </tr>

            @foreach (var item in Model.ClientContacts)
            {
                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => item.Client.Code)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client.Name)
                    </td>

                    <td>

                        <a href="/ClientContacts/UnLink?id=@item.Code&refpage=clients" class="btn btn-primary btn-sm" ><span class="glyphicon glyphicon-remove"></span>Un-Link</a>

                    </td>
                </tr>
            }

        </table>

    }
    else
    {
        <div class="alert-danger" style="font-size:x-large;text-align:center;border-radius:5px;padding:5px 5px">No Clients Found</div>
    }
</div>