<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Client Management System.</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        body {
            height: 100vh;
            width: 100vw;
            background-image: url('../../Images/cmgt.png'),url('../../Images/clientmgt.jpg')/*,linear-gradient(to right, black,blue)*/;
            background-size: cover;
            background-color: darkblue;
            /*background-color: linear-gradient(red,yellow);*/
            /*clip-path: circle(30%,at right 70%);*/
            background-blend-mode: screen;
            /*mix-blend-mode: multiply;*/
        }
        .box{
            position:relative;
            /*max-width:600px;*/
            padding:30px;
            background:rgba(255,255,255,.2);
            box-shadow:0 5px 15px rgba(0,0,0,.5);
            border-radius:25px;
            /*transform:translateY(50px);*/
            /*color:#ffffff;*/
            font-weight:600;
        }
        .box:hover{
            /*transform:translateY(0px);*/
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Client Management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Clients" @*class="btn btn-default btn-sm"*@>Clients</a></li>
                    <li><a href="/Contacts" @*class="btn btn-success btn-sm"*@>Contacts</a></li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Client Management (+2348039611996)</p>
        </footer>
    </div>
    @Styles.Render("~/bundles/cssjqryUi")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    <!-- <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>-->
    <script src="~/Scripts/typed.js" type="text/javascript"></script>
    <script type="text/javascript">
        var typed = new Typed(".auto-input", {
            strings: ["Client Management", "Welcome to Client Management System!", "We help you manage your clients", "and their contact information", "all in one suite."],
            typeSpeed: 100,
            backSpeed: 100,
            loop: true
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#SearchString").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Clients/AutoComplete/',
                        data: "{ 'prefix': '" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                //select: function (e, i) {
                //    $("#ftsearch").val(i.item.val);
                //},
                //minLength: 0
            }).focus(function () {
                $(this).autocomplete("search");
            });
        });
        $(function () {
            $("#SearchString2").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Contacts/AutoComplete/',
                        data: "{ 'prefix': '" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                //select: function (e, i) {
                //    $("#ftsearch").val(i.item.val);
                //},
                //minLength: 0
            }).focus(function () {
                $(this).autocomplete("search");
            });
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
