@model ClientApp.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="box">
    <div>
        <h4>Client</h4>
        <hr />
        <dl class="dl-horizontal">


            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Website)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Website)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fax)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fax)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateCreated)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Code }) |
        @Html.ActionLink("Back to List", "Index")   |   <a href="/ClientContacts/LinkContact?ClientCode=@Model.Code" class="btn btn-primary btn-sm">Link New Contact</a>
    </p>
    @if (ViewBag.Count > 0)
    {
        <table class="table table-bordered">
            <tr>
                <th>
                    @Html.DisplayName("Full Name")
                </th>
                <th>
                    @Html.DisplayName("Email Address")
                </th>
                <th>
                    @Html.DisplayName("Phone Number")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.ClientContacts)
            {
                <tr>
                    <td>
                        
                            @Html.DisplayFor(modelItem => item.Contact.Surname)&nbsp;@Html.DisplayFor(modelItem => item.Contact.FirstName)&nbsp;@Html.DisplayFor(modelItem => item.Contact.OtherNames)
                       
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact.EmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact.PhoneNumber)
                    </td>
                    <td>
                        
                        <a href="/ClientContacts/UnLink?id=@item.Code&refpage=contacts" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-remove"></span>Un-Link</a>
                       
                    </td>
                </tr>
            }

        </table>
        
    }
    else
    {
        <div class="alert-danger" style="font-size:x-large;text-align:center;border-radius:5px;padding:5px 5px">No Contacts Found</div>
    }
</div>