@model IEnumerable<ClientApp.Models.Client>

@{
    ViewBag.Title = "All Clients";
}

<h2>Clients</h2>
<div class="box">
    <p>
        <a href="/Clients/Create" class="btn btn-primary btn-sm">Create New</a>
    </p>
    @if (ViewBag.Count > 0)
    {
        <table class="table table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Website)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fax)
                    </th>*@
                @*<th>
                         @Html.DisplayNameFor(model => model.Address)
                     </th>
                    <th>
                         @Html.DisplayNameFor(model => model.Description)
                     </th>
                     <th>
                         @Html.DisplayNameFor(model => model.DateCreated)
                     </th>*@
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Website)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fax)
                        </td>*@
                    @* <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>*@
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Code }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Code }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Code })
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <div class="alert-danger" style="font-size:x-large;text-align:center;border-radius:5px;padding:5px 5px">No Clients Found</div>
    }
</div>